.field {
    position: relative;
    margin-bottom: 20px;
  }

  .field input[type="password"],
  .field input[type="email"] {
    width: 100%;
    padding: 18px 10px 10px 10px; /* Increase top padding */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Smooth border color transition */
  }

  .field label {
    position: absolute;
    left: 10px;
    top: 18px; /* Starts from within the input */
    transition: all 0.3s ease; /* Smooth transition for movement and scaling */
    pointer-events: none;
    color: #999;
    background-color: transparent; /* Ensure no background blocks input text */
  }
  
  .field input:focus + label,
  .field input:not(:placeholder-shown) + label {
    top: -5px; /* Adjust as necessary */
    font-size: 12px; /* Smaller font size when floated */
    color: #666;
  }
  
  .field input::placeholder {
    color: transparent; /* Hide placeholder when label is inside */
  }

  .buton{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, #db634f 0%, #d1361d 50%, #cc2004 100%);
    color: #fff;
    }