.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* Light background for the navbar */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.navbar-logo img {
    width: auto;  /* Adjust width as necessary */
    height: 70px;  /* Adjust height as necessary */
    display: block;
}

.navbar-logo a {
    display: inline-block;  /* Ensures the link behaves like an image */
    text-decoration: none; 
}

.navbar-links .btn {
    color: black;         /* Sets the text color to black */
    text-decoration: none; /* Removes underline from links */
    font-size: 16px;      /* Sets a specific font size */
    padding: 10px;        /* Adds padding around the links for better clickability */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-links .btn:hover {
    color: gray; /* Lightens the color on hover */
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.btn {
    padding: 8px 16px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e2e2e2; /* Lighter grey on hover */
}

@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        gap: 5px;
    }

    .btn {
        width: 100%; /* Full width buttons on small screens */
    }
}